<meta name="viewport" content="width=device-width, initial-scale=1">

<meta property="og:title" content="Hello Payroll">
<meta property="og:description" content="Built with Nmbr Components. Turn Payroll into Profit — https://nmbr.co">
<meta property="og:type" content="website">

<meta name="twitter:card" content="summary">
<meta name="X:card" content="summary">

<!-- Standard favicon -->
<link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon_16x16.png">
<link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon_32x32.png">

<!-- Apple Touch Icons for iOS devices -->
<link rel="apple-touch-icon" sizes="180x180" href="/assets/favicon_180x180.png">

<!-- Android/Chrome -->
<link rel="icon" sizes="192x192" href="/assets/favicon_192x192.png">
<link rel="icon" sizes="512x512" href="/assets/favicon_512x512.png">
